<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />    

<footer>
  <div class="inner">

    <div class="logo">
      <a href="/">
        <img src="/public/images/subLogo.png">
      </a>
    </div> 

    <div class="info">
      <ul>
        <li><a href="https://github.com/ppeper/Hear_dev"><i class="fa-brands fa-github"></i></a></li>
        <li>I'm Hear, 청각장애인들을 위한 화상 회의 서비스</li>
        <li>Made by 문기렴, 박준후, 이인환, 조수빈</li>
      </ul>
    </div>
  
  </div>

</footer>    