<body>
  <header>
    <div class="inner">

      <div onClick="location.href='/'" class="logo">
        <img src="/public/images/ear.png" alt="ear-logo"/>
      </div>
      <div class="title">I'm Hear</div>

      <div class="enter">
        <form action="/enter" action="get">
          <input placeholder="회의 코드 입력" type="text" name="search" id="search" class="search-text">
          <button type="submit" class="search-btn icon material-symbols-outlined" id="search-btn" title="입장" alt="입장">enter</button>
        </form>
      </div>
  
    </div>

    <hr class="line">
  </header>

</body>