<!-- <!DOCTYPE html> -->
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'm Hear</title>

  <!-- favicon 선언 -->
  <!-- <link rel="icon" href="/images/.png"> -->

  <!-- 브라우저 기본 CSS 초기화 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- Material icons --> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- CSS 파일 -->
  <link rel="stylesheet" href="/public/stylesheets/common.css">
  <link rel="stylesheet" href="/public/stylesheets/meeting.css">

  <!-- JS 파일 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script> -->
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/public/js/app.js"></script>
</head>
<body>

  <section class="meet">
    <div class="inner">

      <!-- 메인 컨텐츠 -->
      <div class="main">

        <!-- 비디오 화면 구역 -->
        <video id="video_cam" autoplay playsinline></video>
        <video id="screen_sharing" autoplay playsinline></video>
        <video id="peers_cam" autoplay playsinline></video>

        <!-- 채팅 구역 -->
        <div class="chatting">
          <form>
            <ul>
              <div class="chat_form">
                <input type="text" placeholder="write a msg" required="required">
                <button>Send</button>
              </div>
            </ul>
          </form>
        </div>

      </div>

      <!-- 하단 바 -->
      <div class="bottom_bar">

        <!-- 현재 시각, 회의 코드 -->
        <div class="info">
          <!-- 현재 시각 -->
          <div class="time_box"></div>
          <!-- 회의 코드 -->
          <div class="join_code">abcd-123</div>
        </div>

        <!-- on/off 설정, 종료 버튼 -->
        <div class="settings">
          <button id="present" value="off" onclick="present_onoff()">
            <span class="material-icons">cancel_presentation</span>
          </button>

          <button id="mic" value="off" onclick="mic_onoff()">
            <span class="material-icons">mic_off</span>
          </button>

          <button id="video" value="off" onclick="video_onoff()">
            <span class="material-icons">videocam_off</span>
          </button>

          <button id="sign_language" value="off" onclick="sl_onoff()">
            <span class="material-icons">do_not_touch</span>        
          </button>

          <button id="exit" onclick="exit_meeting()">
            <span class="material-icons">exit_to_app</span>
          </button>
        </div>
      </div>



    </div>
  </section>

</body>
</html>