<!-- <!DOCTYPE html> -->
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I'm Hear</title>

  <!-- favicon 선언 -->
  <link rel="icon" href="/public/images/ear.png">

  <!-- 브라우저 기본 CSS 초기화 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- Material icons --> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- CSS 파일 -->
  <link rel="stylesheet" href="/public/stylesheets/common.css">
  <link rel="stylesheet" href="/public/stylesheets/meeting.css">

  <!-- JS 파일 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script> -->
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/public/javascripts/app.js"></script>
  <script defer src="/public/javascripts/meeting.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
</head>
<body>

  <section class="meet">
    <div class="inner">

      <!-- 메인 컨텐츠 -->
      <div class="main">

        <!-- 비디오 화면 구역 -->
        <div class="cam">
          <video class="video_cam" autoplay playsinline class="min"></video>
          <canvas class="output_canvas" width="782px" height="795px"></canvas>
          <video id="peers_cam" autoplay playsinline class="min"></video>
          <video id="screen_sharing" autoplay playsinline class="min"></video>
          <video id="fourth" class="min"></video>
        </div>
        
        <!-- 채팅 구역 -->
        <div class="chatting">
          <form class="chat_form">
            <ul class="chat_ul">
              <div class="form_content">
                <input type="text" placeholder="메시지 보내기" required="required" class="input_chat">
                <button class="submit_chat"><span class="material-icons">send</span></button>
              </div>
            </ul>
          </form>
        </div>

      </div>

      <!-- 하단 바 -->
      <div class="bottom_bar">

        <!-- 현재 시각, 회의 코드 -->
        <div class="info">
          <!-- 현재 시각 -->
          <div class="time_box"></div>
          <!-- 회의 코드 -->
          <div class="join_code" onclick="copyCode()">abcd-123</div>
        </div>

        <!-- on/off 설정, 종료 버튼 -->
        <div class="settings">
          <button id="present" value="off" onclick="presentOnOff()">
            <span class="material-icons">cancel_presentation</span>
          </button>

          <button id="mic" value="off" onclick="micOnOff()">
            <span class="material-icons">mic_off</span>
          </button>

          <button id="video" value="off" onclick="videoOnOff()">
            <span class="material-icons">videocam_off</span>
          </button>

          <button id="stt" value="off" onclick="sttOnOff()">
            <span class="material-icons">speaker_notes_off</span>
          </button>

          <button id="sign_language" value="off" onclick="sl_onoff()">
            <span class="material-icons">do_not_touch</span>        
          </button>

          <button id="exit" onclick="exitMeeting()">
            <span class="material-icons">exit_to_app</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</body>
</html>