section .main {
  width: 80%;
}
.inner {
  margin-top: 40px;

}
.inner .main_content {
  /* border: 1px solid var(--hear-blue) ; */
  display: flex;
  flex-direction: row;

  height: 40%;

  padding-bottom: 20%;
}
.main_content .welcome_box {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.welcome_box .headline {
  margin-top: 10px;
  font-size: var(--most-big-font);
  text-align: center;
  height: 20%;
}
.welcome_box .headline_add {
  /* margin-top: 25px; */
  color: var(--hear-medium_gray);
  font-size: var(--big-font);
  line-height: 170%;
  text-align: center;
  height: 65%;
}
.welcome_box .start_meeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--small-font);
  height: 20%;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  height: 48px;
  padding: 0;
  margin: 10px 20px 17px 0;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}
.btnLightBlue {
  background: var(--hear-blue);
}
.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #0073FF;
}
.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}
.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1E8185;
}

.start_meeting .or {
  margin-right: 20px;
  font-size: var(--medium-font);
  /* display: flex; */
}

.start_meeting .join_meet {
  display: flex;
}

.join_meet .input_code {
  height: 48px;
  background: var(--hear-gray);
  border: 2px solid black;
  border-radius: 5px;
}
.join_meet .input_code::placeholder {
  color: white;
  font-size: var(--small-font);
  font-weight: 300;
  text-align: center;
}
.join_meet .code_join1 {
  height: 48px;
  margin-left: 10px;
  /* background-color: var(--hear-blue);
  border: 2px solid black;
  border-radius: 5px; */
}

.main_content .main_img {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  margin-left: 4%;
  width: 50%;
  border-radius: 10px;
  background-color: var(--hear-white);
}

.main_img .main_img_plus {
  width: 90%;
  height: 90%;
  margin: auto;
}

.main_img_plus .welcome_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}